.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;

  &__footer{
    margin-top: 16px;
    text-align: center;
  }

  &__wrapper {
    width: 500px;
    border: none;
  }

  &__title {
    text-align: center;
  }
}