.icon-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 0.6;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}